<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>
    <%- include("../partials/navbar") -%>
        <h1>This is about page</h1>

        <!-- condition statements -->
        <% if(user.age>18){%>
            <h1>
                <%- user.name %> is eligible for vote
            </h1>
            <%} else{%>
                <h1>
                    <%- user.name %> is not eligible for vote
                </h1>
                <%} %>

                    <!-- array elements -->
                    <% fruits.map(ele=>{%>
                        <li><%- ele %></li>
                        <%}) %>

                            <!-- partials -->
                            <%- include("../partials/footer") -%>
</body>

</html>